/17 - Arquivos/RetanguloBinario/build/
/17 - Arquivos/RetanguloBinario/dist/
/11 - Herança Multipla/Liger/build/
/11 - Herança Multipla/Liger/dist/
/12 - Classe Abstrata/PessoaAbstrata/build/
/12 - Classe Abstrata/PessoaAbstrata/dist/
/13 - Polimorfismo paramétrico/CalculadoraFracao/build/
/13 - Polimorfismo paramétrico/CalculadoraFracao/dist/
/13 - Polimorfismo paramétrico/Template/build/
/13 - Polimorfismo paramétrico/Template/dist/
/13 - Polimorfismo paramétrico/Vetor/dist/
/1 - Arquivos/ArquivoTexto/build/
/1 - Arquivos/ArquivoTexto/dist/
/1 - Arquivos/ArquivoTxt2/build/
/1 - Arquivos/ArquivoTxt2/dist/
/1 - Arquivos/CopiaTransformada/build/
/1 - Arquivos/CopiaTransformada/dist/
/1 - Arquivos/RetanguloBinario/build/
/1 - Arquivos/RetanguloBinario/dist/